<mat-form-field [formGroup]="myForm">
  <input matInput [matDatepicker]="picker1" placeholder="Angular forms" name="date_from" formControlName="date_from">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker2" placeholder="Angular forms" name="date_till" formControlName="date_till">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

