.datepicker {
    margin: 10px;
}
.main {
    margin-top: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: #FFD700;
    border-radius: 10px;
    color: #DAA520;
}
.head {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: #FFD700;
    padding: 10px 15px;
    background-color: #FAFAD2;
    border-radius: 10px 10px 0px 0px;
}

